.choice {
  position: absolute;
  top: 90%;
  background-color: rgb(49, 49, 49);
  width: 60%;
  padding: 10px 10px;
  border-radius: 10px;
  z-index: 12;
}
.choice > div {
  padding: 4px;
  border-bottom: 1px solid rgb(111, 111, 111, 0.8);
}
.choice > div:last-child {
  border-bottom: none;
}
.choices_active {
  left: 40%;
  visibility: visible;
  transition: 0.5s ease-in-out;
}
.choices_inactive {
  left: 110%;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}
.code_container {
  position: relative;
}
.copy_icon {
  position: sticky;
  top: 5px;
  left: 95%;
}
.alert_container {
  position: fixed;
  bottom: 15%;
  left: calc(50% - width);
  z-index: 16;
  background-color: rgb(77, 77, 77);
  padding: 3px 7px;
  color: white;
  font-size: 0.8rem;
  border-radius: 6px;
}
.alert_active {
  opacity: 1;
  visibility: visible;
  transition: 0.9s ease-in-out;
}

.alert_inactive {
  opacity: 0;
  visibility: hidden;
  transition: 0.9s ease-in-out;
}

.snap_result {
  position: fixed;
  bottom: 94px;
  left: calc(50% - width);
  background-color: rgb(244, 244, 244);
  border: 1px solid rgb(58, 58, 58, 0.3);
  border-radius: 5px;
  width: fit-content;
  padding: 0 5px;
  height: 25px;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgb(57, 57, 57);
}
.snap_result span {
  padding-bottom: 2px;
}
