@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

main {
  margin-left: 360px;
  margin-right: 100px;
}
@media screen and (max-width: 900px) {
  main {
    margin-left: 260px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 654px) {
  main {
    padding-top: 10%;
    margin-left: 0;
    margin-right: 0;
  }
  ::-webkit-scrollbar {
    opacity: 0;
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
  }
}
